body {
  background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/forest.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;
}
